body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-image: linear-gradient(to right, #a953d3, #eb308d, #72a1a1);
  padding: 2%; /* Ajustado para ser más flexible */
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(115, 171, 179);
}

.columna1,
.columna2 {
  flex: 1; 
  padding: 35
  px;
  margin: 10px;
  box-sizing: border-box;
}

.columna1 h4 {
  font-size: 1.5rem; 
}

h1 {
  text-align: center;
  margin-top: 10%; 
  color: #fefefe;
  text-shadow: 4px 5px 4px rgb(84, 199, 195); 
}

#guess-input {
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 100%; 
  border-radius: 10px;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-image: linear-gradient(to right, #a953d3, #eb308d, #72a1a1);
  color: #fdfcfc;
  border: none;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border: 1px solid #ccc; 
  border-radius: 10px;
  padding: 6px;
  margin: 6px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

.row {
  margin-bottom: 12px;
}

.input-area {
  margin: 10px;
  border-radius: 10px;
}
/* Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .contenedor {
    padding: 1%; /* Ajuste adicional para pantallas pequeñas */
  }
}
