body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: rgb(111, 40, 217);
  padding: 2%; /* Ajustado para ser más flexible */
}

.contenedor {
  display: flex;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(111, 40, 217);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.columna1,
.columna2 {
  flex: 1; /* Distribución más equitativa */
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 2%; /* Ajustado para ser más flexible */
  color: #fff;
  text-shadow: 2px 2px 4px rgba(111, 40, 217, 0.5); /* Sombra de texto más sutil */
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 100%; /* Ancho flexible */
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(111, 40, 217);
  color: #fdfcfc;
  border: none;
  border-radius: 10px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border: 1px solid #ccc; /* Borde más sutil */
  border-radius: 10px;
  padding: 6px;
  margin: 6px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

.row {
  margin-bottom: 12px;
}

.input-area {
  margin: 10px;
  border-radius: 10px;
}
